@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

h2 {
  color: rgb(255, 255, 255); 
  font-size: 100px; 
  font-family: "Orbitron", sans-serif;
}
body {
  background-color: rgb(0, 47, 255);
  color: azure;
  font-size: 30px;
}
footer {
    font-size: 15px;
}
a {
    color: aliceblue;
}
