@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dancing+Script:wght@400..700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Asset&family=Dancing+Script:wght@400..700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Asset&family=Dancing+Script:wght@400..700&family=Lexend:wght@100..900&family=Pacifico&display=swap');

body {
  background-color: antiquewhite;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

main h2 {
  color: rgb(73, 167, 255); 
  font-size: 100px; 
  font-family: "Asset", serif;
  margin-left: 30px;
  background-color:antiquewhite;
  padding: 30px;
}

.secondtitle{
  color: #cd2b2b; 
  font-size: 50px; 
  font-family: "Alfa Slab One", serif;
  background-color: rgb(255, 218, 54);
  padding: 50px;
}

#introduction{
  color: rgb(255, 255, 255); 
  font-size: 45px; 
  text-align: center;
  font-family: "Lexend", sans-serif;
  margin-top: 30px;
  background-color: pink;
  padding: 45px;
}

#subtitle{
  color: #cd2b2b;
  font-size: 45px;
  font-family: "Alfa Slab One", serif;
  text-align: center;
  padding: 40px 15px 10px;
  img {width: 15%}
}

#flex-container {
  display: flex;
  background-color: antiquewhite;
  flex-wrap: row wrap;
  justify-content: space-around;
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 30px;
}

#profile{
  color: rgb(255, 255, 255); 
  font-size: 25px; 
  font-family: "Lexend", sans-serif;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50px;
  background-color: rgb(73, 167, 255);
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mycountry{
  color: rgb(255, 255, 255); 
  font-size: 25px; 
  font-family: "Lexend", sans-serif;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50px;
  background-color: rgb(255, 218, 54);
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#masterthesis{
  color: rgb(255, 255, 255); 
  font-size: 25px; 
  font-family: "Lexend", sans-serif;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50px;
  background-color: pink;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#apifunction{
  color: #cd2b2b;
  font-size: 45px;
  font-family: "Alfa Slab One", serif;
  text-align: center;
  margin-top: 100px;
  img {width: 15%}
}

#apicollection {
  display: flex;
  background-color: antiquewhite;
  flex-wrap: row wrap;
  justify-content: space-around;
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 30px;
}
#advice{
  color: rgb(255, 255, 255); 
  font-size: 25px; 
  font-family: "Lexend", sans-serif;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50px;
  background-color: pink;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#makebackground{
  color: rgb(255, 255, 255); 
  font-size: 25px; 
  font-family: "Lexend", sans-serif;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50px;
  background-color: rgb(255, 218, 54);
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#flower{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  img {width: 50%;}
}

main {
  color: #fcfcff;
}

footer {
    font-size: 15px;
}
main a {
    color: aliceblue;
}

button {
  background-color:rgb(73, 167, 255);
  border: solid 2px #5f97df;
  color: #ffffff;
  border-radius: 20px;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1em;
  box-shadow: 0 5px 0 #5f97df;
  display: inline-block;
  transition: .3s;
}
button:hover {
  color: #ffffff;
  transform: translateY(5px);
  box-shadow: 0 0 0 #fcfcff;
}

#content p {
    font-size: 18px; /* Markdown 内の p のみ */
}

#content h1, #content h2, #content h3 {
    color: #333;
}

#content a {
    color: #0077cc;
    text-decoration: none;
}