@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

main h2 {
  color: rgb(255, 255, 255); 
  font-size: 100px; 
  font-family: "Orbitron", sans-serif;
}
main {
  background-color: rgb(0, 47, 255);
  color: azure;
  font-size: 30px;
}
footer {
    font-size: 15px;
}
main a {
    color: aliceblue;
}

button {
  background-color: #2200ff;
  border: solid 2px #ffffff;
  color: #ffffff;
  border-radius: 20px;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1em;
  box-shadow: 0 5px 0 #ffffff;
  display: inline-block;
  transition: .3s;
}
button:hover {
  color: #ffffff;
  transform: translateY(5px);
  box-shadow: 0 0 0 #fcfcff;
}

#content p {
    font-size: 18px; /* Markdown 内の p のみ */
}

#content h1, #content h2, #content h3 {
    color: #333;
}

#content a {
    color: #0077cc;
    text-decoration: none;
}