@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

main h2 {
  color: rgb(255, 255, 255); 
  font-size: 100px; 
  font-family: "Orbitron", sans-serif;
}
main {
  background-color: rgb(0, 47, 255);
  color: azure;
  font-size: 30px;
}
footer {
    font-size: 15px;
}
main a {
    color: aliceblue;
}

#content p {
    font-size: 18px; /* Markdown 内の p のみ */
}

#content h1, #content h2, #content h3 {
    color: #333;
}

#content a {
    color: #0077cc;
    text-decoration: none;
}